<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>4 P's</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styleah.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
     <div class="container">
        <h2>Hampang You Want?</h2>
        <form action="/suggested" method="post" class="form-inline">
            <div class="form-group mr-3">
                <label for="game_genre" class="mr-2">Game Genre:</label>
                <select class="form-control" name="game_genre" id="game_genre">
                    {% for a, i in genres.items() %} <!-- a for mapping string values of dictionary and i for the values-->
                        <option value="{{ a }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group mr-3">
                <label for="game_type" class="mr-2">Game Type:</label>
                <select class="form-control" name="game_type" id="game_type">
                    {% for a, i in game_types.items() %} <!-- a for mapping string values of dictionary and i for the values-->
                        <option value="{{ a }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-warning">Generate</button>
        </form>
        <br>
        {% if recommended_games %}
        <h3>Recommended Games :</h3>
        <br>
        <ul class="list-unstyled recommended-games">
            {% for game in recommended_games %}
            <li><!---->
                <img src="{{ url_for('static', filename=game[1]) }}" alt="{{ game[0] }}" class="img-thumbnail game-image">
                <span style="color:#FDA403">{{ game[0] }}</span>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if related_games %}
    <h3>You may also like :</h3>
    <br>
    <ul class="list-unstyled recommended-games">
    {% for game in related_games %}
    <li>
        <img src="{{ url_for('static', filename=game[1]) }}" alt="{{ game[0] }}" class="img-thumbnail game-image">
        <span style="color:#FDA403">{{ game[0] }}</span>
    </li>
    {% endfor %}
</ul>
        <a href="/" class="btn btn-clear float-right"><i class="fas fa-sync-alt"></i> Clear</a>
        <div class="clearfix"></div> 
{% endif %}

    </div>
</body>
</html>
